name: devops-studio-monitor
services:
  devops-monitor:
    build: ./app
    restart: unless-stopped
    env_file:
      - ./monitor.env
    environment:
      BASE: "http://devops-proxy"
      STATE_DIR: "/state"
    volumes:
      - ./state:/state
    networks:
      - devops-edge

networks:
  devops-edge:
    external: true
    name: devops-edge
